<!-- Готові проєкти -->
<section class="ready_projects container">
    <h1 class="">Готові проєкти</h1>
    <div class="ready_projects_itemholder">
        <ul class="ready_project_list">
            <li class="ready_project_item">
                <div class="image_holder">
                    <img class="ready_project_mainpic" src="/templates/site/img/ready_projects/san-martin/san-martin1.jpeg" alt=""
                         width="500">
                    <ul class="ready_project_smallpic_list">
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/san-martin/san-martin2.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/san-martin/san-martin3.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/san-martin/san-martin4.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                    </ul>
                    <div class="ready_projects_icons ready_projects_icons--left">
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">10 днів</div>
                            <div class="ready_projects_textleft">термін<br>монтажу</div>
                        </div>
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">Враховано</div>
                            <div class="ready_projects_textleft">витратні матеріали<br>і доставку</div>
                        </div>
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">Україна</div>
                            <div class="ready_projects_textleft">країна<br>виробник</div>
                        </div>
                    </div>
                </div>
                <div class="text_holder">
                    <h2 class="ready_projects_h2">San Martin</h2>
                    <h3 class="ready_projects_h3">Комплектація "classic"</h3>
                    <div class="ready_projects_icons">
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">85&#x33A1;</div>
                            <div class="ready_projects_text">тепла площа</div>
                        </div>
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">3</div>
                            <div class="ready_projects_text">спальні</div>
                        </div>
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">1</div>
                            <div class="ready_projects_text">санвузол(-и)</div>
                        </div>
                    </div>
                    <p class="ready_projects_p">Проект SAN MARTIN — теплий, світлий та просторий. Умовний розподіл
                        будинку на зони — це денна , де знаходяться вітальня, кухня та столова. Та відпочинкова — тут
                        розмістилися три просторі спальні і санвузол</p>
                    <div class="price_holder">
                        <p class="price">вартість</p>
                        <p class="price_num">7 225 €</p>
                    </div>
                </div>

            </li>
            <li class="ready_project_item">
                <div class="image_holder">
                    <img class="ready_project_mainpic" src="/templates/site/img/ready_projects/waterville/waterville1.jpeg" alt=""
                         width="500">
                    <ul class="ready_project_smallpic_list">
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/waterville/waterville2.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/waterville/waterville3.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                    </ul>
                    <div class="ready_projects_icons ready_projects_icons--left">
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">10 днів</div>
                            <div class="ready_projects_textleft">термін<br>монтажу</div>
                        </div>
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">Враховано</div>
                            <div class="ready_projects_textleft">витратні матеріали<br>і доставку</div>
                        </div>
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">Україна</div>
                            <div class="ready_projects_textleft">країна<br>виробник</div>
                        </div>
                    </div>
                </div>
                <div class="text_holder">
                    <h2 class="ready_projects_h2">Waterville</h2>
                    <h3 class="ready_projects_h3">Комплектація "classic"</h3>
                    <div class="ready_projects_icons">
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">128&#x33A1;</div>
                            <div class="ready_projects_text">тепла площа</div>
                        </div>
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">3</div>
                            <div class="ready_projects_text">спальні</div>
                        </div>
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">2</div>
                            <div class="ready_projects_text">санвузол(-и)</div>
                        </div>
                    </div>
                    <p class="ready_projects_p">Проект «Waterville»- компактний будинок за доступною ціною з мансардним
                        поверхом. Площа будинку — 128 м². На такій площі розташовано цілих 3 спальні, 2 санвузли, кухня
                        і велика вітальня. Проект підійде тому, хто шукає доступне рішення для сім’ї з 4-5 осіб.</p>
                    <div class="price_holder">
                        <p class="price">вартість</p>
                        <p class="price_num">11 264 €</p>
                    </div>
                </div>

            </li>
            <li class="ready_project_item">
                <div class="image_holder">
                    <img class="ready_project_mainpic" src="/templates/site/img/ready_projects/grouse/grouse.jpeg" alt=""
                         width="500">
                    <ul class="ready_project_smallpic_list">
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/grouse/grouse2.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/grouse/grouse3.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                        <li class="ready_project_smallpic"><img
                                src="/templates/site/img/ready_projects/grouse/grouse4.jpeg"
                                alt="Gallery Image"
                                width="100%"
                                height="70"
                        /></li>
                    </ul>
                    <div class="ready_projects_icons ready_projects_icons--left">
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">10 днів</div>
                            <div class="ready_projects_textleft">термін<br>монтажу</div>
                        </div>
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">Враховано</div>
                            <div class="ready_projects_textleft">витратні матеріали<br>і доставку</div>
                        </div>
                        <div class="ready_projects_iconholder ready_projects_iconholder--left">
                            <div class="ready_projects_iconleft">Україна</div>
                            <div class="ready_projects_textleft">країна<br>виробник</div>
                        </div>
                    </div>
                </div>
                <div class="text_holder">
                    <h2 class="ready_projects_h2">Grouse</h2>
                    <h3 class="ready_projects_h3">Комплектація "classic"</h3>
                    <div class="ready_projects_icons">
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">157&#x33A1;</div>
                            <div class="ready_projects_text">тепла площа</div>
                        </div>
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">3</div>
                            <div class="ready_projects_text">спальні</div>
                        </div>
                        <div class="ready_projects_iconholder">
                            <div class="ready_projects_icon">1</div>
                            <div class="ready_projects_text">санвузол(-и)</div>
                        </div>
                    </div>
                    <p class="ready_projects_p">Компактний стильний сімейний будинок з гаражем для 3-4 людей теплою
                        площею 157м² для вас. Простора денна зона з частково закритою кухнею на першому поверсі і три
                        спальні, велика ванна кімната розміщені на другому поверсі.</p>
                    <div class="price_holder">
                        <p class="price">вартість</p>
                        <p class="price_num">39253 €</p>
                    </div>
                </div>

            </li>
        </ul>

    </div>

    <button class="container button button--purple button--readyprojects" href="#">
        показати всі
    </button>
</section>