<!-- Головний баннер -->
<div class="top_banner">
    <div class="top_banner_inner">
        <h1 class="top_banner_title title1">
            Сучасний будинок<br/>за доступною ціною
        </h1>
        <h2 class="top_banner_title title2">
            виготовлення та монтаж домокомплектів із
            <br/>структурно-ізольованих (SIP) панелей
        </h2>
        <div class="h3_holder">
            <img class="design_icon" src="/templates/site/img/main-banner/design-icon.svg" alt="Design Icon" width="48" height="48" />
            <h3 class="top_banner_title title3">
                дизайн-проєкт<br/>за наш рахунок
            </h3>
            <img class="car_icon" src="/templates/site/img/main-banner/car-icon.svg" alt="Delivery Icon" width="48" height="32" />
            <h3 class="top_banner_title title3">
                безкоштовна доставка<br/>по Україні
            </h3>
        </div>
        <a href="#form"><button class="button button--white">
            дізнатись вартість
        </button></a>
    </div>
</div>

<!-- Про нас -->
<section class="container" id="about">
    <article class="about_us">
        <div class="about_us_left">
            <h1>Про нас</h1>
            <p class="simple_text">
                Компанія «Екобудсевіс» створена в 2005 році і весь час займалася виробництвом і будівництвом. У нас величезний досвід у виробництві сіп-панелей і будівництва будинків з сіп-панелей за канадською технологією на будь-який смак. Компанією «Екобудсевіс» успішно
                реалізовано більше 600 проектів, нашим завданням є довіра наших клієнтів, тому працюємо ми максимально швидко, а головне — якісно! У нас представники не лише по всій Україні, а й за її межами.
            </p>
            <div class="infographic">
                <div class="infographic_item">
                    <span class="infographic_num">16</span
                ><span class="inphographic_text"
                >років на ринку<br/>будівництва</span
                >
                </div>
                <div class="infographic_item">
                <span class="infographic_num">50+</span
                ><span class="inphographic_text">збудованих<br/>об’єктів</span>
                </div>
                <div class="infographic_item">
                    <span class="infographic_num">14</span
                ><span class="inphographic_text"
                >готових<br/>дизайн-проєктів</span
                >
                </div>
            </div>
        </div>
        <div class="about_us_pic">
            <img
                    src="/templates/site/img/about_us/about_us.png" 
                    alt="Один із збудованих об'єктів"
                    width="100%"
            />
        </div>
    </article>
</section>
<!-- Макет-паркет баннер -->
<section class="simple_banner">
    <div class="simple_banner_inner">
        <h1 class="simple_banner_title">будуємо від макета до паркета</h1>
        <a href="#form"><button class="button button--purple" >
            залишити заявку
        </button></a>
    </div>
</section>
<!-- Послуги -->
<section class="services">
    <div class="container">
        <div class="services_left">
            <h1 class="services_title">Послуги</h1>
            <div class="infographic">
                <div class="infographic_item">
                    <img
                            src="/templates/site/img/services/project-icon.png"
                            alt="Проєктування будинка"
                            class="infographic_icon_services"
                            width="64"
                    /><span class="inphographic_text inphographic_text_services"
                >рпроєктування<br/>будинка</span
                >
                </div>
                <div class="infographic_item">
                    <img
                            src="/templates/site/img/services/factory.png"
                            alt="Виробництво SIP"
                            class="infographic_icon_services"
                            width="64"
                    />
                    <span class="inphographic_text inphographic_text_services"
                    >серійне виробництво<br/>СІП панелей</span
                    >
                </div>
                <div class="infographic_item">
                    <img
                            src="/templates/site/img/services/installation-icon.png"
                            alt="Монтаж SIP конструкції"
                            class="infographic_icon_services"
                            width="64"
                    />
                    <span class="inphographic_text inphographic_text_services"
                    >монтаж<br/>SIP панелей</span
                    >
                </div>
            </div>
         <a href="/?page=text"><button class="button button--purple button--services" >
                детальніше
            </button></a> 
        </div>
        <div class="services_right">
            <div class="services_pic">
                <img
                        class="services_pic_item"
                        src="/templates/site/img/services/sip-factory1.png"
                        alt="Процес виробництва SIP"
                        width="470"
                />
                <img
                        class="services_pic_item"
                        src="/templates/site/img/services/sip-factory.png"
                        alt="Процес виробництва SIP"
                        width="470"
                />
            </div>
            <div class="arrows">
                <svg
                        width="35"
                        height="14"
                        viewBox="0 0 35 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M7.5 13L1.5 7L7.5 1"
                            stroke="#C4C4C4"
                            stroke-width="2"
                    />
                    <rect
                            x="34.5"
                            y="8"
                            width="32"
                            height="2"
                            transform="rotate(-180 34.5 8)"
                            fill="#C4C4C4"
                    />
                </svg>
                <svg
                        width="35"
                        height="14"
                        viewBox="0 0 35 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M27.5 1L33.5 7L27.5 13"
                            stroke="black"
                            stroke-width="2"
                    />
                    <rect x="0.5" y="6" width="32" height="2" fill="black"/>
                </svg>
            </div>
        </div>
    </div>
</section>
<!-- Переваги -->
<section class="simple_banner simple_banner--benefits">
    <div class="simple_banner_inner">
        <div class="benefits_blackbg">
            <h1 class="simple_banner_title">
                Переваги будівНИцтва із СІП (SIP)
            </h1>
            <ul class="benefits_list">
                <li class="benefits_item">легкість та міцніть конструкції</li>
                <li class="benefits_item">безпечність матеріалів</li>
                <li class="benefits_item">
                    довговічність (до 80 років експлуатації)
                </li>
                <li class="benefits_item">
                    економія на фундаменті за рахунок відносної легкості конструкції
                </li>
                <li class="benefits_item">
                    економія на опаленні за рахунок високих теплозберігаючих
                    характеристик конструкції
                </li>
                <li class="benefits_item">
                    швидкий монтаж “коробки” дому (2-3 тижні)
                </li>
                <li class="benefits_item">
                    збільшення корисної площі приміщення на 15-20% за рахунок
                    невеликої товщини стін
                </li>
                <li class="benefits_item">
                    можливість цілорічного будівництва, так як будинки із sip не
                    дають просідання
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Відгуки -->
<section class="reviews container" id="reviews">
    <h1>Що люди кажуть</h1>
    <div class="reviews_list">
        <div class="review-item review-item_background">
            <img
                    class="review_quotemark"
                    src="/templates/site/img/reviews/quote.png"
                    alt="Quote mark icon"
                    width="70"
            />
            <p class="review_text">
                Запланували будівництво власного будинку, довго вибирали між
                компаніями, які є на ринку. Сподобався підхід хлопців до роботі —
                живі, активні, все швидко зробили. Рекомендую!
            </p>
            <p class="review_signature">Олександр Шепетько</p>
        </div>
        <div class="review-item review-item_background">
            <img
                    class="review_quotemark"
                    src="/templates/site/img/reviews/quote.png"
                    alt="Quote mark icon"
                    width="70"
            />
            <p class="review_text">
                Дачний будинок, побудований Вашою компанією приніс в мою сім’ю
                велику радість і здійснення мрії, яка два тижні тому здавалася
                недосяжною. Будинок побудований на професійному рівні!
            </p>
            <p class="review_signature">Віталій Яременко</p>
        </div>
    </div>
    <div class="slider_icons_list">
        <svg
                class="slider_icon"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="8" cy="8" r="8" fill="#5259BB"/>
        </svg>
        <svg
                class="slider_icon"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="8" cy="8" r="8" fill="#212529"/>
        </svg>
        <svg
                class="slider_icon"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="8" cy="8" r="8" fill="#212529"/>
        </svg>
    </div>
</section>
<!-- Процес роботи -->
<section class="process">
    <div class="container process_holder">
        <h1 class="process_title">
            Як відбувається будівництво (Time Lapse)
        </h1>
        <iframe
                class="process_video"
                width="100%"
                height="500"
                src="https://www.youtube.com/embed/7lfxQnZOxQg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
        ></iframe>
    </div>
</section>
<!-- Наші роботи -->
<section class="our_work" id="portfolio">
    <div class="container ourwork_holder">
        <h1 class="ourwork_title">Наші роботи</h1>
        <iframe
                class="ourwork_video"
                width="100%"
                height="500"
                src="https://www.youtube.com/embed/7lfxQnZOxQg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
        ></iframe>
        <ul class="ready_houses_list">
            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house8.png" alt="" width="100%"/>
                <p class="ready_houses_name">Двоповерховий дім в Одесі</p>
            </li>
            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house4.jpg" alt="" width="100%"/>
                <p class="ready_houses_name">Дім в Зазим'ї під Києвом</p>
            </li>

            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house6.png" alt="" width="100%"/>
                <p class="ready_houses_name">SIP будинок у Харкові</p>
            </li>
            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house7.png" alt="" width="100%"/>
                <p class="ready_houses_name">Двоповерховий дім в Одесі</p>
            </li>
            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house5.jpg" alt="" width="100%"/>
                <p class="ready_houses_name">Дім в Зазим'ї під Києвом</p>
            </li>
            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house1.jpg" alt="" width="100%"/>
                <p class="ready_houses_name">SIP будинок у Харкові</p>
            </li>
            <li class="ready_houses_item">
                <img class="ready_houses_picture" src="/templates/site/img/our_work/ready-house2.jpeg" alt="" width="100%"/>
                <p class="ready_houses_name">СІП будинок в Броварах</p>
            </li>
        </ul>
        <button class="button button--purple button--ourwork" href="#">
            показати всі
        </button>
    </div>


    </div>
</section>