<!-- Послуги -->
<section class="services_textpage container">
    <h1 class="services_textpage_title ">Послуги</h1>

    <div class="our_services_tabs_holder">
        <ul class="our_services_tabs">
            <li class="services_tabs-title active-s" data-serv="li11">проєктування
                <svg class="services_tr active-tr" width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.6977 12.4484L0.981557 0.720785H24.4136L12.6977 12.4484Z" fill="#5259BB"/>
                </svg>
            </li>
            <li class="services_tabs-title" data-serv="li22">виробництво
                <svg class="services_tr" width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.6977 12.4484L0.981557 0.720785H24.4136L12.6977 12.4484Z" fill="#5259BB"/>
                </svg>
            </li>
            <li class="services_tabs-title" data-serv="li33">монтаж
                <svg class="services_tr" width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.6977 12.4484L0.981557 0.720785H24.4136L12.6977 12.4484Z" fill="#5259BB"/>
                </svg>
            </li>
            <li class="services_tabs-title" data-serv="li44">ціни та вироби
                <svg class="services_tr" width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.6977 12.4484L0.981557 0.720785H24.4136L12.6977 12.4484Z" fill="#5259BB"/>
                </svg>
            </li>
        </ul>
    </div>
    <ul class="tabs-content">
        <!-- Проєктування -->
        <li class="tabs-text active-s" id="li11">
            <div class="tabs_text_holder">
                <!-- <img class="tabs1_images_item" src="/templates/site/images/our-services/web-design.png" alt="" width="192"/> -->
                <article class="tabs_paragraph">
                    <p>«А які у вас є одноповерхові будинки до 100 м²?», «Ви можете побудувати будинок за моїм проектом?», «Де можна подивитися ваші типові проекти будинків», «Скільки коштує проектування?» Подібні питання нам задають кожен день. Всі наші
                        будинки ми проектуємо індивідуально під конкретного замовника. У нас немає такого поняття, як «типовий проект», адже всі наші будинки індивідуальні. За 16 років роботи нами реалізовано понад 600 проектів, з яких Ви не зустрінете
                        навіть двох однакових. У нашому штаті 5 архітекторів, які розробляють проекти індивідуально під ваші побажання. Будь-який об’єкт – незалежно від того, чи це маленька дача, величезний торговий центр, компактна лазня, котеджне селище,
                        база відпочинку, таунхаус, приватний будинок та інше – усе це проектується індивідуально під Вас.</p>
                    <p>Ви можете звернутися до нас зі своїми начерками майбутнього будинку, можете вибрати будь-яку картинку чи планування будинку з нашого або будь-якого іншого сайту чи журналу, можете просто прийти з ідеєю і своїм баченням майбутнього
                        житла. На основі цих даних наші архітектори спроектують вам саме той будинок або будівлю, яку Вам потрібно. А ми його зробимо і побудуємо. А ще проектування завжди включено в вартість домокомплекту, тобто для вас фактично безкоштовне.
                    </p>
                    <h2>Бажаєте замовити проєкт?</h2>
                    <p>Надішліть посилання, креслення від руки, фото чи відео вподобаного проекту на нашу пошту: zakaz@ebs.com.ua. Отримайте першу комерційну пропозицію від Екобудсервіс. Укладіть договір на індивідуальне проектування. Проектування включено
                        у вартість виробництва СІП-панелей, яке визначається індивідуально.Головні архітектор та інженер обов’язково вивчать ділянку для будівництва. Ваш проект буде через 5-10 днів.</p>
                </article>
            </div>
        </li>
        <!-- Виробництво -->
        <li class="tabs-text" id="li22">
            <div class="tabs_text_holder">
                <!-- <img class="tabs1_images_item" src="/templates/site/images/our-services/graphic-design.jpg" alt="" width="192" /> -->
                <article class="tabs_paragraph">
                    <p>СІП панелі являють собою тришарову структуру, що нагадує закритий бутерброд (сендвіч). Між двома шарами жорсткого матеріалу, який може витримувати значні навантаження, вклеюється під тиском шар утеплювача. В якості зовнішніх шарів
                        використовується листовий метал, в тому числі профлисти з різними покриттями, композитні плити з деревних стружок або волокон, гіпсокартон, магнезитові плити, рідше жорсткий пластик. Утеплювачем може служити мінеральна або скловата,
                        пінополістирол, пінополіуретан, поліпропілен. Завдяки такій різноманітності рішень можна сформувати вигідну пропозицію по ціні для будівництва будинку з СІП панелей під ключ.</p>
                    <p>Всі структурні елемнти вашого майбутнього будинку — конструкції несучих стін і даху і двотаврові балки міжповерхового перекриття — виробляються на заводі з імпортних складових в суворій відповідності з міжнародними стандартами якості.
                        Для виробництва ми використовуємо матеріали світових флагманів каркасно-щитового будівництва — компаній «EGGER» (Австрія) і «LP CANADA LTD» (Канада). Все виробництво сертифіковане і здійснюється на обладнанні фірми «Altendorf»
                        (Німеччина). Як утеплювач використовується Neopor® виробництва Німеччини. Деталі й стики ідеально підганяються між собою вже на етапі виробництва, що, в свою чергу, практично виключає вірогідність помилки на момент складання конструкцій.</p>
                </article>
            </div>
        </li>
        <!-- Монтаж -->
        <li class="tabs-text" id="li33">
            <div class="tabs_text_holder">
                <!-- <img class="tabs1_images_item" src="/templates/site/images/our-services/online-support.jpeg" alt="" width="192" /> -->
                <article class="tabs_paragraph">
                    <p>Сучасні будівельні матеріали та технології постійно розвиваються і удосконалюються, що дозволило звести канадську технологію будівництва будинків з SIP панелей на абсолютно новий і якісний рівень енергоефективних будинків. SIP панелі
                        — це спеціальний будівельний сендвіч, який виробляється шляхом склеювання між собою утеплювача пінополістиролу і вологостійких ОСП-3 плит. В результаті виходить надійний будівельний матеріал, на 90% складається з утеплювача. Вироблена
                        СІП-панель легко витримує вертикальні навантаження до 20 тонн і горизонтальні до 5 тонн.</p>
                    <p>Будинки, побудовані з СІП панелей, найенергоефективніші, мало витратні на обслуговування, експлуатацію, швидкі по у спорудженні і не обмежені розмаїтістю архітектурних фантазій і — що найголовніше, — вони відносяться до категорії недорогих
                        приватних будинків. Екобудсервіс пропонує для своїх замовників три основні комплектації будівництва енергоефективних будинків з СІП панелей: Будинок із зовнішнім оздобленням; Будинок під чистову обробку; Будинок під ключ.
                    </p>
                    <h2>ОСНОВНІ ПЕРЕВАГИ БУДИНКІВ ІЗ СІП ПАНЕЛЕЙ</h2>
                    <p>Будівництво будинку з СІП панелей можна вести своїми руками. Повний комплект матеріалів продається повністю готовим до збірки. При замовленні буде зроблений проект розкрою і збірки майбутнього будинку. СІП панелі розкроюються на спеціальному
                        обладнанні, а елементи виготовлені так, що їх залишається просто зібрати в готовий будинок з сіп панелей для постійного проживання.
                    </p>
                    <h2>БУДИНКИ ДЛЯ САМОСТІЙНОЇ ЗБІРКИ</h2>
                    <p>Будинки з СІП панелей — це будинки побудовані з утеплювача, складно знайти більш енергоефффектівний будинок в Україні. Замовивши будівництво будинку з СІП панелей Ви отримуєте економію енергії до 90%! На будівельний майданчик або приватному
                        замовнику такі будинки приїжджають повністю готовими до збірки. Залишається підготовлені елементи зібрати в стіни, а стіни — в готову коробку. Такі будівельно-монтажні роботи протікають всього 2-4 тижні, що надійно закріпило за
                        ними репутацію — швидкого спорудження.</p>
                    <h2>ЯК ПОБУДУВАТИ ПРИВАТНИЙ БУДИНОК SIP ВІД ЕКОБУДСЕРВІМ</h2>
                    <p>Почати будівництво каркасних будинків і котеджів з СІП панелей з нами дуже просто: Вишліть нам посилання на готовий проект з СІП панелей, креслення олівцем або файл проекту вподобаного будинку. Ми підготуємо розгорнуту комерційну пропозицію
                        (кошторис або вартість будинку з СІП панелей). Розробимо індивідуальний ескізний проект — БЕЗКОШТОВНО. Розрахуємо необхідну кількість СІП панелей на Ваш будинок.</p>
                    <h3>Ми надамо:</h3>
                    <ul>
                        <li>Календарний графік робіт і оплат.</li>
                        <li>Виїдемо на місце майбутньої споруди будинку з метою ознайомлення.</li>
                        <li>Зробимо геологію і геодезію.</li>
                        <li>Розробимо індивідуальний проект.</li>
                        <li>Складемо кошторису під Договір.</li>
                        <li>Підготуємо всі необхідні документи для початку будівництва.</li>
                        <li>Введемо будинок в експлуатацію.</li>
                        <li>Надамо гарантію на всі виконані роботи.</li>
                        <li>Проведемо повний енергоаудит побудованого будинку з СИП панелей.</li>
                        <li>Запропонуємо взяти участь в постійних акціях на наші роботи і послуги.</li>
                    </ul>
                </article>
            </div>
        </li>
        <!-- App Design -->
        <li class="tabs-text" id="li44">
            <div class="tabs_text_holder">
                <!-- <img class="tabs1_images_item" src="/templates/site/images/our-services/app-design.png" alt="" width="192" /> -->
                <article class="tabs_paragraph">
                    <p>Ми виробляємо енергоефективні модульні будинки з SIP-панелей з 2005 року. Головна відмінність наших домокомплектів від інших виробників — вони повністю готові до монтажу на фундамент: домокомплекти вже розкроєні за проектом будинку,
                        а в усі СИП-панелі вмонтований з’єднувальні брус. Всі домокомплекти перед відправкою на ділянку замовнику проходять контрольне складання на нашому виробництві. В Україні домокомплекти такої готовності (з вмонтованим брусом в SIP-панель)
                        виробляємо тільки ми. І у нас на це є паттент. Наші домокомплекти прості в збірці — ви самі легко зможете зібрати будинок за допомогою поетапної інструкції і заощадити на монтажі. Але якщо у вас немає на це часу або бажання — скористайся
                        нашою послугою МОНТАЖУ або замовляйте БУДІВНИЦТВО енергоефективного будинку.</p>
                    <p>Ми виробляємо енергоефективні модульні будинки з SIP-панелей з 2005 року. Головна відмінність наших домокомплектів від інших виробників — вони повністю готові до монтажу на фундамент: домокомплекти вже розкроєні за проектом будинку,
                        а в усі СИП-панелі вмонтований з’єднувальні брус. Всі домокомплекти перед відправкою на ділянку замовнику проходять контрольне складання на нашому виробництві. В Україні домокомплекти такої готовності (з вмонтованим брусом в SIP-панель)
                        виробляємо тільки ми. І у нас на це є паттент. Наші домокомплекти прості в збірці — ви самі легко зможете зібрати будинок за допомогою поетапної інструкції і заощадити на монтажі. Але якщо у вас немає на це часу або бажання — скористайся
                        нашою послугою МОНТАЖУ або замовляйте БУДІВНИЦТВО енергоефективного будинку. У нас три виробничі комплекси, які дозволяють нам випускати будинки з практично будь-якою товщиною і теплоопором стін та даху. Але для зручності ми пропонуємо
                        наші домокомплекти в чотирьох основних комплектаціях — «стандарт«, «оптимальний«, «люкс» і «престижний«. Виробництво індивідуальних комплектацій обговорюється і розраховується індивідуально.
                    </p>
                    <p>Індивідуальне проектування будинку і всі витратні матеріали для збірки домокомплекту включені у вартість. Доставка домокомплектів на території України здійснюється безкоштовно (крім акційних пропозицій). Вартість доставки в інші країни
                        розраховується індивідуально. Ціна і умови актуальні для будинків площею від 70 м.кв. Будинки до 70 м.кв розраховуються індивідуально. Натисніть на опис потрібної комплектації нижче, щоб подивитися деталі.</p>
                </article>
            </div>
        </li>
    </ul>
    </div>
</section>
<section>
    <ul class="ourwork_list">
        <li class="ourwork_item">
            <img src="/templates/site/img/ready_projects/san-martin/san-martin1.jpeg" alt="Gallery Image" width="100%" height="303" />
        </li>
        <li class="ourwork_item">
            <img src="/templates/site/img/ready_projects/waterville/waterville1.jpeg" alt="Gallery Image" width="100%" height="303" />
        </li>
        <li class="ourwork_item">
            <img src="/templates/site/img/ready_projects/grouse/grouse.jpeg" alt="Gallery Image" width="100%" height="303" />
        </li>
        <li class="ourwork_item">
            <img src="/templates/site/img/ready_projects/waterville/waterville3.jpeg" alt="Gallery Image" width="100%" height="303" />
        </li>
    </ul>
</section>