/* Responsive starts here */

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .header_logo {
        margin-left: 30px;
    }
    .top_banner_inner {
        margin-left: 20px;
    }
    .simple_banner_inner {
        margin-right: 20px;
    }
    .main_menu {
        display: none;
    }
    .phone {
        margin-right: 30px;
    }
    .ready_houses_list {
        max-height: 2500px;
    }
    .about_us_pic {
        max-width: 500px
    }
    .services {
        width: 100%;
    }
    .ready_houses_item {
        width: 45%;
    }
    .ready_houses_picture {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .about_us {
        width: 100%;
    }
    .phone {
        margin-right: 30px;
    }
    .about_us_left {
        width: 48%;
    }
    .ready_houses_list {
        max-height: 2000px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .phone {
        margin-right: 30px;
    }
    .about_us_left {
        width: 100%;
    }
    .ready_houses_list {
        max-height: 3000px;
    }
    .about_us {
        flex-wrap: wrap;
        padding-left: 0;
    }
    .about_us_pic {
        margin-top: 20px;
        max-width: 500px;
    }
    .simple_banner_inner {
        flex-wrap: wrap;
    }
    .simple_banner_inner .button {
        display: none;
    }
    .simple_banner_title {
        width: 75%;
        font-size: 24px;
    }
    .services {
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .services_left {
        width: 80%;
    }
    .services_right {
        display: none;
    }
    .benefits_blackbg {
        width: 80%;
        max-width: 600px;
        justify-content: center;
        left: 30px;
    }
    .simple_banner_inner {
        width: 100%;
        margin: 0 auto;
    }
    .reviews_list {
        flex-wrap: wrap;
    }
    .review-item:nth-child(1) {
        margin-right: 0px;
    }
    .review-item:nth-child(2) {
        margin-top: 30px;
    }
    .ready_houses_item {
        width: 100%;
        max-width: 700px;
    }
    .form_container {
        flex-wrap: wrap;
    }
    .form_fields_item {
        width: 100%;
        max-width: 820px;
    }
    .contact_us {
        height: 100%;
    }
    .contacts_blackbg {
        flex-wrap: wrap;
        width: 80%;
        max-width: 700px;
        justify-content: center;
        left: 30px;
    }
    .contact_us .button {
        margin-bottom: 50px;
    }
    .contactus_form {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .menu {
        display: none;
    }
    /* .menu-open {
        display: block
    } */
    /* .menu-open {
        margin-left: auto;
    } */
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}