        /* font-family: 'Inter', sans-serif; */
        /* Container
================ */
        
        .container {
            margin: 0 auto;
            padding-left: 0;
            width: 100%;
            max-width: 1170px;
        }
        /* General
================ */
        
        .page_body {
            margin: 0 auto;
            padding-left: 0;
            font-family: 'Inter', sans-serif;
            color: #212529;
            background-color: #ffffff;
        }
        
        h1 {
            margin-top: 0;
            padding-left: 0;
            font-size: 32px;
            font-weight: 600;
            line-height: 44px;
            text-align: left;
            text-transform: uppercase;
        }
        
        .simple_text {
            margin-top: 34px;
            padding-left: 0;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
        }
        /* Button
================ */
        
        .button {
            margin-top: 37px;
            display: inline-block;
            vertical-align: top;
            padding: 0;
            width: 240px;
            height: 55px;
            text-align: center;
            font-size: 18px;
            line-height: 20px;
            font-weight: 300;
            border-radius: 5px;
            border: 3px solid #5259BB;
            transition: background;
            cursor: pointer;
            text-transform: lowercase;
            box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 1);
        }
        
        .button--white {
            background-color: #ffffff;
            color: #5259BB;
        }
        
        .button--purple {
            background-color: #5259BB;
            color: #ffffff;
        }
        /* Header
================ */
        
        .page_header {
            margin: 0 auto;
            width: 100%;
            height: 145px;
            background: rgba(0, 0, 0, 0, 0.2);
            position: fixed;
            z-index: 100;
        }
        
        .container_header {
            height: 145px;
            margin: 0 auto;
            width: 100%;
            max-width: 1170px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        
        .header_logo {
            position: relative;
            height: 65px;
            width: 168px;
        }
        
        .image_logo {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .main_menu {
            line-height: 24px;
            color: #fff;
            display: flex;
            padding-left: 0px;
            align-items: center;
        }
        
        .menu_item {
            color: #fff;
            justify-content: center;
            padding-right: 20px;
            list-style: none;
        }
        
        .menu_item:last-child {
            padding-right: 0;
        }
        
        .menu_link {
            color: #fff;
        }
        
        .menu_link--active {
            color: #5259BB;
        }
        
        .menu_link:hover,
        .menu_link--active:hover {
            color: #5259BB;
            position: relative;
            width: 100%;
        }
        
        .menu_link:hover::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #5259BB;
            position: absolute;
            z-index: 1;
            top: 30px;
            display: block;
        }
        
        .menu_link--active:hover::after {
            content: "";
            width: 100%;
            height: 0px;
        }
        
        .phone {
            display: flex;
            align-items: center;
        }
        
        .phone_icon {
            margin: 0 auto;
            padding-left: 0;
            align-items: center;
        }
        
        .phone_number {
            padding-left: 5px;
            color: #ffffff;
            font-size: 18px;
        }
        
        .phone_number:hover {
            color: #5259BB;
        }
        /* Top Banner
================ */
        
        .top_banner {
            display: flex;
            flex-wrap: wrap;
            height: 800px;
            position: relative;
            z-index: 1;
        }
        
        .top_banner::before {
            content: "";
            width: 100%;
            left: 0;
            top: 0;
            justify-content: center;
            height: 800px;
            background: radial-gradient(5.06% 5.05% at 3.2% 5.87%, rgba(0, 0, 0, 0.22) 0%, rgba(0, 0, 0, 0.22) 9.66%, rgba(0, 0, 0, 0) 70%), linear-gradient(180deg, rgba(0, 0, 0, 0.72) 11.98%, rgba(0, 0, 0, 0) 8.22%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/main-banner/mainbanner-background.png") center no-repeat;
            background-size: cover;
            position: absolute;
            z-index: 10;
            background-attachment: fixed;
        }
        
        .top_banner_inner {
            max-width: 1170px;
            text-align: left;
            margin: 0 auto;
            width: 100%;
            z-index: 100;
        }
        
        .top_banner_title {
            margin: 0 auto;
            padding-left: 0;
            color: #fff;
        }
        
        .title1 {
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            padding-top: 223px;
            margin-bottom: 33px;
        }
        
        .title2 {
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 37px;
        }
        
        .title3 {
            font-size: 15px;
            font-weight: 300;
            line-height: 20px;
            margin: 0 0 0 10px;
        }
        
        .h3_holder {
            padding-left: 0;
            display: flex;
            align-items: center;
        }
        
        .car_icon {
            margin-left: 44px;
        }
        /* About Us
================ */
        
        .about_us,
        .services {
            margin-top: 150px;
            display: flex;
            flex-direction: row;
        }
        
        .about_us_left,
        .services_left {
            display: flex;
            flex-direction: column;
            margin-right: 130px;
            justify-content: center;
            width: 100%;
        }
        
        .about_us_pic {
            width: 100%;
            max-width: 470px;
        }
        
        .infographic {
            width: fit-content;
            display: flex;
            flex-direction: row;
            margin-top: 34px;
        }
        
        .infographic_item {
            display: flex;
            flex-direction: column;
            padding-right: 43px;
        }
        
        .infographic_num {
            font-weight: 600;
            font-size: 36px;
            line-height: 38px;
            color: #5259BB;
        }
        
        .inphographic_text {
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            padding-top: 10px;
        }
        /* Maket-Parket
================ */
        
        .simple_banner {
            margin-top: 150px;
            display: flex;
            flex-wrap: wrap;
            height: 450px;
            position: relative;
            z-index: 1;
        }
        
        .simple_banner::before {
            content: "";
            width: 100%;
            left: 0;
            top: 0;
            justify-content: center;
            height: 450px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/maket-parket/maket-parket.png") center no-repeat;
            background-size: cover;
            position: absolute;
            z-index: 10;
            background-attachment: fixed;
        }
        
        .simple_banner_inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 1170px;
            text-align: left;
            margin: 0 auto;
            width: 100%;
            z-index: 100;
        }
        
        .simple_banner_title {
            padding-left: 0;
            color: #fff;
            margin: 0px;
        }
        
        .simple_banner .button--purple {
            margin: 0 auto;
        }
        /* Services
================ */
        
        .services {
            overflow: hidden;
            margin-top: 150px;
        }
        
        .services .container {
            display: flex;
        }
        
        .inphographic_text_services {
            font-weight: 300;
        }
        
        .button--services {
            box-shadow: 4px 4px 4px rgba(82, 89, 187, 0.25);
            margin-top: 69px;
        }
        
        .services_left {
            width: 50%;
        }
        
        .services_right {
            width: 50%;
        }
        
        .arrows {
            margin-top: 52px;
            text-align: center;
        }
        
        .services_pic {
            display: flex;
            width: 100%;
            max-width: 470px;
        }
        
        .services_pic_item:first-child {
            margin-right: 30px;
        }
        
        .services_pic_item:nth-child(2) {
            height: 468px;
            /* position: relative;
            z-index: 1;
            top: 0;
            left: 0; */
        }
        /*
        .services_pic_item:nth-child(2)::before {
            content: "";
            width: 100%;
            left: 0;
            top: 0;
            height: 468px;
            background-size: cover;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) center no-repeat;
            position: absolute;
            z-index: 10;
        } */
        /* Benefits
================ */
        
        .simple_banner--benefits {
            height: 840px;
        }
        
        .simple_banner--benefits::before {
            height: 840px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/benefits/benefits-background.png") center no-repeat;
        }
        
        .benefits_blackbg {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 665px;
            height: 670px;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 135px;
            top: 98px;
            z-index: 10;
        }
        
        .simple_banner_title {
            margin: 20px auto 0 20px;
            text-align: center;
        }
        
        .benefits_list {}
        
        .benefits_item {
            padding-left: 48px;
            padding-top: 10px;
            background: url("../img/benefits/tick-icon.png") no-repeat;
            margin: 0 auto 0 12px;
            color: #ffffff;
            font-weight: 300;
            font-size: 18px;
            min-height: 60px;
            line-height: 18px;
            align-self: center;
            overflow: hidden;
            vertical-align: middle;
        }
        
        .benefits_item img {
            float: left;
        }
        
        .benefits_item:first-child {
            margin-top: 34px;
        }
        /* Reviews
================ */
        
        .reviews {
            display: flex;
            flex-direction: column;
            margin-top: 150px;
        }
        
        .reviews_list {
            display: flex;
            flex-direction: row;
            margin: 40px auto 0;
        }
        
        .review-item {
            text-align: center;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
        }
        
        .review_quotemark {
            margin: 28px auto 0px;
        }
        
        .review_text {
            margin: 0 40px;
        }
        
        .review-item_background {
            width: 100%;
            max-width: 570px;
            background-color: #FAFAFA;
            box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.15);
            margin-right: 30px;
        }
        
        .review-item_background:last-child {
            margin-right: 0;
        }
        
        .review_signature {
            margin: 24px 41px;
            text-align: right;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
        }
        
        .slider_icons_list {
            margin-top: 56px;
            text-align: center;
        }
        
        .slider_icon {
            margin-right: 10px;
        }
        
        .slider_icon:last-child {
            margin-right: 0;
        }
        /* Process
================ */
        
        .process {
            position: relative;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 800px;
            margin-top: 150px;
            background-color: #FAFAFA;
        }
        
        .processs_holder {
            position: absolute;
            left: 0;
            top: 0;
        }
        
        .process_title {
            padding-top: 75px;
        }
        
        .process_video {
            margin-top: 57px;
        }
        /* Our Work
================ */
        
        .our_work {
            margin-top: 75px;
        }
        
        .ourwork_video {
            margin-top: 57px;
        }
        
        .ready_houses_name {
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            color: #212529;
            text-align: center;
        }
        
        .button--ourwork {
            box-shadow: 4px 4px 4px rgba(82, 89, 187, 0.25);
            margin: 50px auto 0px;
            align-items: center;
        }
        
        .ourwork_holder {
            padding-left: 0;
            text-align: center;
        }
        /* Ready Houses Galery
================ */
        
        .ready_houses_list {
            margin: 75px auto 0px;
            padding-left: 0;
            max-height: 1200px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            align-content: space-between;
        }
        
        .ready_houses_item {
            width: 370px;
            margin-bottom: 30px;
            background-color: #fafafa;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #353A3D;
        }
        /* Contact  Us Form
================ */
        
        .contact_us {
            width: 100%;
            height: 450px;
            margin-top: 150px;
            background-color: #FAFAFA;
        }
        
        .contactus_title {
            margin: 0 auto;
            padding-top: 75px;
        }
        
        .form_container {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
        }
        
        .form_fields_item {
            width: 30%;
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #808080;
            border-radius: 5px;
        }
        
         ::placeholder {
            color: #808080;
            font-size: 16px;
        }
        
        .terms-conditions_text {
            color: #808080;
        }
        
        .contactus_form .submit_button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 75px auto;
        }
        /* Contacts
================ */
        
        .contacts_banner {
            margin-top: 0;
            display: flex;
            flex-wrap: wrap;
            height: 700px;
            position: relative;
            z-index: 1;
        }
        
        .contacts_banner::before {
            content: "";
            width: 100%;
            left: 0;
            top: 0;
            justify-content: center;
            height: 700px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contacts/banner_contacts.png") center no-repeat;
            background-size: cover;
            position: absolute;
            z-index: 10;
            background-attachment: fixed;
        }
        
        .contacts_blackbg {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 361px;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 135px;
            top: calc(50% - 180px);
            z-index: 10;
        }
        
        .contacts_title {
            font-family: 'Inter', sans-serif;
            color: #ffffff;
            font-weight: 600;
            font-size: 32px;
            line-height: 34px;
            margin: 0;
        }
        
        .contacts_text {
            font-family: 'Inter', sans-serif;
            margin-top: 27px;
            color: #ffffff;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
        }
        
        .contacts_address {
            margin: 0;
            padding-top: 10px;
        }
        
        .contacts_number:link,
        .contacts_email:link {
            color: #ffffff;
        }
        
        .contacts_icons {
            display: flex;
            width: 164px;
            justify-content: space-between;
            margin-top: 29px;
        }
        /* Footer
================ */
        
        .page_footer {
            background-color: #212529;
            height: 120px;
            width: 100%;
        }
        
        .footer_container {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            display: block;
        }
        
        .footer_copyright {
            padding-left: 0;
            margin: 0 auto;
            padding-top: 51px;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: #ffffff;
            text-align: center;
        }
        /* Page Container
================ */
        
        .page_header--innerpage {
            color: #ffffff;
            background-color: #212529;
            top: 0;
            left: 0;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
        
        .ready_projects {
            margin-top: 72px;
        }
        
        .ready_projects_itemholder {
            margin-top: 75px;
        }
        
        .ready_project_list {
            margin: 74px auto 0px;
            padding-left: 0;
        }
        
        .ready_project_item {
            position: relative;
            left: 0;
            top: 0;
            margin: 72px auto;
            padding-left: 0;
            background-color: #fafafa;
            height: 600px;
            display: flex;
            flex-direction: row;
        }
        
        .image_holder {
            width: 50%;
            margin: 70px 0px 0px 70px;
        }
        
        .text_holder {
            width: 50%;
            margin: 70px auto 32px;
        }
        
        .ready_projects_icons {
            margin-top: 27px;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .ready_projects_iconholder {
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .ready_projects_iconholder:last-child {
            padding-right: 0px;
        }
        
        .ready_projects_icon {
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
            color: #5259BB;
        }
        
        .ready_projects_text {
            padding-top: 5px;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
        }
        
        .text_holder {
            display: flex;
            flex-direction: column;
        }
        
        .ready_projects_p {
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            margin: 37px 10px 0 0;
        }
        
        .ready_project_smallpic_list {
            display: grid;
            grid-auto-flow: column;
            margin: 10px auto 0px;
            padding-left: 0;
            justify-content: start;
            column-gap: 10px;
        }
        
        .ready_project_smallpic {
            width: 100%;
            max-width: 120px;
            height: 70px;
        }
        
        .ready_projects_h2 {
            margin: 0 auto 0 0;
            font-weight: 800;
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
        }
        
        .ready_projects_h3 {
            margin: 0 auto 0 0;
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;
            text-transform: capitalize;
        }
        
        .ready_projects_iconleft {
            color: #5259BB;
            font-weight: 300;
            font-size: 24px;
            line-height: 24px;
        }
        
        .ready_projects_textleft {
            padding-top: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: #212529;
        }
        
        .ready_projects_iconholder--left {
            align-items: flex-start;
        }
        
        .ready_projects_icons--left {
            justify-content: flex-start
        }
        
        .price_holder {
            position: absolute;
            right: 20px;
            bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            /* margin-right: 20px; */
        }
        
        .price {
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;
            padding-right: 28px;
        }
        
        .price_num {
            color: #5259BB;
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
        }
        
        .button--readyprojects {
            display: block;
            box-shadow: 4px 4px 4px rgba(82, 89, 187, 0.25);
            margin: 50px auto;
        }
        /* Text Page 
================ */
        
        .services_textpage_title {
            padding-top: 72px;
        }
        /* Our Services
================= */
        
        .our_services_tabs_holder {
            max-width: 720px;
            margin-top: 75px;
            margin-bottom: 30px;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            background-color: #fafafa;
        }
        
        .our_services_tabs {
            width: 100%;
            display: flex;
            margin: 0 auto;
            padding-left: 0;
            align-items: flex-start;
        }
        
        .tabs_text_holder {
            margin: 0 auto;
            padding-left: 0;
            display: flex;
            min-height: 140px;
            height: 100%;
        }
        
        .tabs-content {
            margin: 0 auto;
            padding-left: 0;
        }
        
        .tabs-text {
            display: none;
        }
        
        .tabs-text.active-s {
            display: inline-block;
        }
        
        .tabs_paragraph {
            text-align: left;
            margin: 0 auto;
            color: #777777;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
        }
        
        .services_tabs-title {
            padding-top: 17px;
            padding-bottom: 17px;
            width: 195px;
            color: #717171;
            border: 1px solid #EDEFEF;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 39px;
            text-transform: capitalize;
            text-align: center;
        }
        
        .services_tabs-title.active-s {
            background-color: #5259BB;
            border: 2px solid #5259BB;
            color: #FFFFFF;
            position: relative;
            z-index: 0;
            left: 0;
            top: 0;
        }
        
        .services_tr {
            margin: 0 auto;
            position: absolute;
            z-index: 1;
            left: calc(50% - 12.5px);
            top: 100%;
            display: none;
        }
        
        .active-s .services_tr {
            display: block;
        }
        
        .services_tabs-title:hover {
            border: 2px solid #5259BB;
        }
        
        .ourwork_list {
            margin: 30px auto 0px;
            padding-left: 0;
            display: grid;
            grid-auto-flow: column;
        }
        
        .ourwork_item {
            width: 100%;
            max-width: 360px;
            height: 220px;
        }
        
        .form-success {
            display: none;
        }